@font-face {
    font-family: "Roboto-Bold";
    src: url("./../../assets//fonts/Roboto/Roboto-Bold.ttf") format("opentype");
}
@font-face {
    font-family: "Roboto-Medium";
    src: url("./../../assets//fonts/Roboto/Roboto-Medium.ttf") format("opentype");
}

@mixin m($width){
    @media(max-width:#{$width}px){
        @content;
    }
}
@mixin en{
    html[dir="ltr"] & {
        @content;
    }
}
@mixin ar{
    html[dir="rtl"] & {
        @content;
    }
}

.contact_us_container{
    overflow: hidden;
    padding: 150px 0;
    background-image: url(./../../assets//images/contact_us.png);
    background-size: cover;
    .row{
        justify-content: center;
    }
    .box{
        background-color: #F6F4F9;
        font-size: 25px;
        padding: 50px 0;
        margin: 20px;
        text-align: center;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        .icon{
            width: 130px;
            height: 130px;
            margin: 0 auto 20px;
            background-color: #0678D6;
            border: 1px solid #0678D6;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            i{
                display: block;
                font-size: 60px;
                line-height: 130px;
                color: #FFF;
            }
            &:hover{
                background-color: #FFF;
                i{
                    color: #0678D6;
                }
            }
        }
        p{
            font-family: "Roboto-Bold";
            text-transform: uppercase;
            font-size: 30px;
            color: #0678D6;
            margin: 0;
        }
        a{
            font-family: "Roboto-Bold";
            text-transform: uppercase;
            font-size: 30px;
            text-decoration: none;
            color: #0678D6;
            &:hover{
                text-decoration: underline;
            }
        }
        span{
            display: block;
            font-size: 18px;
            font-family: "Roboto-Medium";
        }
    }
}
// Medium Screen
@media (max-width:991px) {
    .contact_us_container{
        padding: 100px 0;
        .box{
            margin: 25px auto;
        }
    }
}