@mixin m($width){
    @media(max-width:#{$width}px){
        @content;
    }
}
@mixin en{
    html[dir="ltr"] & {
        @content;
    }
}
@mixin ar{
    html[dir="rtl"] & {
        @content;
    }
}

header{
    overflow: hidden;
    .navbar{
        padding: 20px;
        background-color: #FFF;
        text-align: center;
        box-shadow: rgb(220, 220, 220) 0px 2px 10px;
        .navbar-brand{
            width: 130px;
            @include en{
                margin-right: 50px;
            }
            @include ar{
                margin-left: 50px;
            }
            .logo{
                width: 100%;
                max-width: 100%;
                transition: all ease-in-out .3s;
                &:hover{
                    transform: scale(1.1) rotate(20deg);
                    -webkit-transform: scale(1.1) rotate(20deg);
                    -moz-transform: scale(1.1) rotate(20deg);
                    -ms-transform: scale(1.1) rotate(20deg);
                    -o-transform: scale(1.1) rotate(20deg);
                }
            }
        }
        .navbar-collapse{
            bottom: 0;
            background-color: #01338D;
            padding: 10px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
        .nav-item a{
            text-transform: uppercase;
            font-weight: bold;
            color: #FFF;
            border-bottom: 4px solid #01338D;
            margin: 0 5px;
            transition: all ease-in-out .2s;
            &:hover, &.active{
                border-bottom: 4px solid #3FD5FF;
            }
        }
        .dropdown-menu{
            text-align: center;
            padding: 15px;
            .dropdown-item{
                padding: 0;
                color: #01338D;
                // margin: 0;
                &:hover{
                    background-color: #FFF;
                }
                a{
                    color: #01338D;
                }
            }
        }
        .navbar-toggler{
            border-color: #0678D6;
            &:focus{
                box-shadow: none;
            }
        }
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(6,120,214,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    }
    .lang_btn_container{
        @include en{
            margin-left: auto;
        }
        @include ar{
            margin-right: auto;
        }
        .lang_btn{
            background-color: #01338D;
            color: #FFF;
            border: 1px solid #3FD5FF !important;
            padding: 10px 0 10px 10px;
            @include ar{
                padding: 10px 10px 10px 0;
            }
            &:hover{
                background-color: #3FD5FF !important;
                color: #01338D !important;
                border: 1px solid #3FD5FF !important;
            }
            &:focus{
                box-shadow: none !important;
            }
            i{
                margin: 0 10px;
            }
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
    }
}
// Language Modal
.modal{
    text-align: center;
    .modal-dialog{
        max-width: 400px;
    }
    .modal-title{
        color: #01338D;
    }
    .btn-close{
        @include ar{
            margin: 0;
        }
        &:focus{
            box-shadow: none;
        }
    }
    .modal-content{
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    p{
        width: fit-content;
        display: inline-block;
        font-size: 18px;
        color: #01338D;
        cursor: pointer;
        padding: 10px;
        margin: 10px;
        border: 1px solid #01338D;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        &:hover{
            background-color: #01338D;
            color: #FFF;
        }
    }
}
@media (max-width: 998px) {
    header{
        .navbar{
            .container-fluid{
                display: block;
                position: relative;
            }
            .navbar-brand{
                margin: 0 !important;
                .logo{
                    width: 130px;
                }
            }
            .navbar-collapse{
                margin-top: 20px;
            }
            .navbar-nav{
                padding: 0;
            }
            .nav-item a{
                margin: 0;
            }
            .navbar-toggler{
                position: absolute;
                top: 30px;
                @include en{
                    right: 0;
                }
                @include ar{
                    left: 0;
                }
            }
        }
        .lang_btn_container{
            margin: auto !important;
            .lang_btn{
                margin: 10px auto;
            }
        }
    }
}