
.footer {
    background-color: #1D2641;
    color: #9ebbe0;
    padding: 20px 0;
    h4{
        color: #FFF;
        font-size: 24px;
        margin-bottom: 20px;
    }
    p{
        font-size: 16px;
        margin: 10px 0;
    }
    a{
        color: #9ebbe0;
        text-decoration: none;
        display: block;
        margin-bottom: 8px; 
        font-size: 18px; 
    }
    .copy_right{
        font-size: 14px; 
        text-align: center;
        border-top: 1px solid #9ebbe0;
        padding-top: 20px;
    }
}
  
  
