.development_container{
    background-color: #067AD9;
    padding: 100px 0;
    img{
        display: block;
        width: 600px;
        max-width: 100%;
        margin: 0 auto 100px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    p{
        font-size: 20px;
        color: #fff;
        margin-bottom: 30px;
    }
}